@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Common CSS Start Here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F5F8FF;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
li,
span {
  margin: 0;
  padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.my-btn{
    background-color: #4E47FF;
    color: #fff;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all linear 0.3s;
    transform: scale(1);
}

.my-btn:hover{
    transform: scale(1.1);
    background-color: #6b66fb;
    color: #FFFFFF;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: #4E47FF;
}

.text-secondary{
    color: #252432;
}

.text-black{
    color: #000000;
}

.bg-primary{
    background-color: #4E47FF;
}

.bg-secondary{
    background-color: #252432;
}

main section{
    margin: 115px 0;
}


/* Common CSS End Here */

/* Header CSS Start Here */
.header-section{
    background-image: url('/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.navbar-section .logo{
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: #4E47FF;
    text-transform: uppercase;
}

.banner-section{
    padding: 155px 0;
}

.banner-section .banner-title{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 37px;
    padding: 0 56px;
}
/* Header CSS End Here */

/* Action CSS Start Here */

.action-section .action-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 265px;
}

.action-section .action-main .action-left .action-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 24px;
}

.action-section .action-main .action-left .action-description{
    font-family: "Raleway", sans-serif;
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    padding-bottom: 24px;
}

.action-section .action-main .action-right img{
    border-radius: 48px;
}
/* Action CSS End Here */

/* Productive Users CSS Start Here */
.productive-users-section .productive-users-main{
    padding: 50px 80px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

.productive-users-section .productive-users-main .productive-users-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 38px;
    padding-bottom: 40px;
}

.productive-users-section .productive-users-main .productive-users{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productive-users-section .productive-users-main .productive-users .productive-items .productive-users-item-title {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.productive-users-section .productive-users-main .productive-users .productive-items .productive-users-item-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* Productive Users CSS End Here */

/* Testimonial CSS Start Here */
.testimonial .testimonial-heading{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 50px;
}

.testimonial .testimonial-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.testimonial .testimonial-main .testimonial-items{
    background: #fff;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px;
}

.testimonial .testimonial-main .testimonial-items .testimonial-title{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.testimonial .testimonial-main .testimonial-items .testimonial-description{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-bottom: 24px;
    font-weight: 400;
}


.testimonial .testimonial-main .testimonial-items .reviewer-main{
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial .testimonial-main .testimonial-items .reviewer-main img{
    border-radius: 50%;
}

.testimonial .testimonial-main .testimonial-items .star{
    padding-bottom: 24px;
}

.testimonial .testimonial-main .testimonial-items .review .reviewer-name{
    font-family: "Inter", sans-serif;
    color: #757575;
    font-size: 16px;
    padding-bottom: 4px;
}

.testimonial .testimonial-main .testimonial-items .review .date{
    font-family: "Inter", sans-serif;
    color: #B3B3B3;
    font-size: 16px;
}
/* Testimonial CSS End Here */

/* Common CSS Start Here */

/* Common CSS End Here */